body {
  background: #203036;
  font-family: 'Open Sans', sans-serif;
  color: #f52;
}

.sc-container {
  margin: auto;
  width: 760px;
  position: relative;
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.table-cell.full-width {
  width: 100%;
}

.wrap {
  background: #1a272b;
}

.sc-button {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  display: inline-block;
  color: #f52;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  cursor: pointer;
  margin-left: 10px;
}
.sc-button:focus {
  outline: none;
}
.sc-button:hover {
  box-shadow: inset 0 0 0 3px #f52;
}
.sc-button svg {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.1875rem;
  top: 0.21875rem;
}
.sc-button:active {
  -webkit-transform: scale(0.925);
  -ms-transform: scale(0.925);
  transform: scale(0.925);
}
.sc-button:active svg {
  -webkit-transform: scale(0.925);
  -ms-transform: scale(0.925);
  transform: scale(0.925);
}

.progress-wrap {
  position: relative;
  top: 2px;
  width: 95%;
  cursor: pointer;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.progress-wrap .progress {
  display: block;
  height: 0.5rem;
  border: 0;
  width: 0px;
  background-color: #f52;
  cursor: pointer;
  transition: width 0.6s ease;
}

.sc-player {
  padding: 1rem 0;
}

.sc-playlist {
  margin-top: 20px;
}
.sc-playlist ul {
  margin: 0;
  padding: 10px 0px;
}
.sc-playlist ul li {
  list-style: none;
}
.sc-playlist ul li a {
  display: block;
  color: #f52;
  text-decoration: none;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.sc-playlist ul li a .index {
  margin-right: 1rem;
}
.sc-playlist ul li a:hover {
  background: #263941;
}
.sc-playlist ul li a.active {
  background: #263941;
}

.sc-duration {
  text-align: right;
  color: #737373;
  margin-right: 20px;
  top: -11px;
  position: relative;
  font-size: 13px;
}
