* {
  -webkit-padding-start: 0px;
}

html{
  height:100%;
  overflow-y: hidden;
}

body {
  position: relative;
  background: black;
  height:100%;
  width: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  margin: 0px 0px;
  padding: 0px;
}

#content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1 {
  color: yellow;
  background-color: black;
  margin-bottom: : 0;
  padding: none;
  font-size: 30px;
  font-weight: 100;
  padding-left:30px;
  padding-top: 5px;
  margin: 0px 0px;
}
#content {
  
  background-size: cover;
}

#search-container {
  margin-left:10px;
  position: fixed;
  left: 0;
  top: 100px;
  width: 350px;
  height:700px;
  margin-top: -2.5em;
  color:white;
  margin-right:100px;
  overflow-y: auto;
}

#search-results-list {

}

.song-result-tile {
  position: relative;
  display: block
  margin-bottom:10px;
  margin:top: 25px;
}

.song-result-tile:hover {
  background:white;
  color:black;
}

.song-result-tile img {
  display:inline-block;
}

.song-result-tile ul {
  height:50px;
  width:250px;
  position:relative;
  display:inline-block;
  margin: -5px 0px 0px 5px;

}

.song-result-tile ul li {
  display:block;

}

/*IFRAME STYLING*/

.song-player {
  margin:0 auto;
  width: 500px;
}

#player_1 {
  position: relative;
  width: 500px;
  padding-top: 100px;
  margin: auto;
}

.song-play-tile {
  position: relative;
  text-align: center;
}

.song-tile-list {
    list-style: none;
}

li:hover {

}
/*SONGQUEUE STYLING*/

.song-queue {
  margin-left:30px;
  position: fixed;
  right: 3px;
  top: 85px;
  height:93%;
  margin-top: -2.5em;
  color:white;
  overflow-x: hidden;
  overflow-y:auto;
}

.songs-in-queue {
  position:relative;
  display:block;
  margin-bottom:15px;
  height:75px;
  width:340px;
}

.songs-in-queue img {
  position: relative;
  display:inline-block;
  height:60px;
  width:60px;
}

.songs-in-queue p {
  font-size: 14px;
  position:relative;
  display:inline-block;
  width:270px;
  height:60px;
  padding-left: 8px;
  margin: 0px 0px;
}

.songs-in-queue:hover p {
  color: black;
}

.songs-in-queue:hover {
  background-color: white;
  color: black;
}
